@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
span {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1600px !important;
  width: 100% !important;
}

#card {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 5px;
}

#card:hover,
#btn-ordener:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}
